
<h2>Giftr</h2>

{{#each model as |gift|}}
    <h3>{{gift.recipient}}</h3>
    <ul>
        <li>Creator: {{gift.creator}}</li>
        <li>Recipient: {{gift.recipient}}</li>
        <li>Items</li>
        <ul>
            {{#each gift.items as |item|}}
            <li>{{item.id}}</li>
            <li>{{item.name}}</li>
            <li>{{item.cost}}</li>
            <li>{{item.gift}}</li>
            {{/each}}
        </ul>
    </ul>
{{/each}}

{{outlet}}
{{#link-to "about"}}About{{/link-to}}
